@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html {
  height: 100%;
}

.container-text {
    margin-top: 25px;
}

.logo {
    width: 80px;
    padding-top: 50%/*40px*/;
}

a {
  color: #10100e;
  text-decoration: none;
}
a:hover {
  color: #34342d;
  text-decoration: none;
}

.dark_mode_switch {
    width: 50px;
    padding-top: 55px;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f8;        /* светло серый фон */
    color: #10100e;             /* почти чёрный текст */

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 600;
    padding-top: 30px;
}

@media (max-width: 500px) {
    .title { font-size: 30px!important; }
}

@media (min-width: 961px) and (max-width: 1140px) {
    .title { font-size: 40px!important; }
    .logo { width: 70px!important; }
    .dark_mode_switch { padding-top: 45px; }
}

@media (min-width: 871px) and (max-width: 960px) {
    .title { font-size: 35px!important; }
    .logo { width: 65px!important; }
    .dark_mode_switch { padding-top: 45px; }
}

@media (min-width: 501px) and (max-width: 870px) {
    .title { font-size: 30px!important; }
    .logo { width: 60px!important; }
    .dark_mode_switch { padding-top: 40px; }
}

.menu_container{
    margin-top: 40px;
}

.main_sub_label {
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: xx-large;
}

.sub_label {
    padding-left: 10px;
    padding-top: 3px;
    font-size: normal;
    color: #6c757d
}

.main_container{
    height: 100%;
    width: 70%;
}

.table_container{
    margin-top: 40px;
    padding-bottom: 80px;
}

.btn {
    height: 100%;
    width: 100%;
}

/* Кнопка создания таблицы */
.btn-primary{
    background-color: #9147FF;     /* фиолетовый */
    border-color: #9147FF;
}

/* Кнопка создания таблицы при наведении */
.btn-primary:hover {
    background-color: #9569FF;     /* фиолетовый посветлее) */
    border-color: #9569FF;
}

.btn-secondary {
    color: #10100e;
    background-color: #dedee1;
    border-color: #dedee1;
}

.btn-secondary:hover {
    color: #10100e;
    background-color: #c8c8cb;
    border-color: #c8c8cb;
}

/* Кнопка создания таблицы при нажатии */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #9569FF;     /* фиолетовый посветлее (как при наведении) */
    border-color: #9569FF;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #9569FF;
    border-color: #9569FF;
    box-shadow: 0 0 0 0.25rem rgba(104,38,203,.5);   /* свечение при нажатии */
}

.form-control {
    background-color: #efeff1;
    color: #10100e;
    border-color: #dedee1;
}

.border-warning {
    border-color: #dedee1!important;
}

.form-control:focus {
    color: #10100e;
    background-color: #efeff1;
    border-color: #dedee1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(145,71,255,.5);
}

.border-success {
    border-color: #dedee1!important;
}

.btn-outline-warning {
    color: #10100e;
    background-color: #dedee1;
    border-color: #dedee1;
}

.btn-check:focus+.btn-outline-warning, .btn-outline-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(104,38,203,.5);
}

.btn-outline-warning:hover {
    color: #efeff1;
    background-color: #9569FF;
    border-color: #9569FF;
}

.btn-check:active+.btn-outline-warning, .btn-check:checked+.btn-outline-warning, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show, .btn-outline-warning:active {
    color: #efeff1;
    background-color: #9147FF;
    border-color: #9147FF;
}

.btn-outline-success {
    color: #10100e;
    background-color: #dedee1;
    border-color: #dedee1;
    overflow: hidden;
    position: relative;
}

.btn-outline-success:after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 0;
  width: 30%;
  height: 40px;
  background: linear-gradient(90deg, transparent, #dedee1 80%);
}

.btn-outline-success:hover {
    color: #efeff1;
    background-color: #9569FF;
    border-color: #9569FF;
    overflow: hidden;
    position: relative;
}

.btn-outline-success:hover:after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 0;
  width: 30%;
  height: 40px;
  background: linear-gradient(90deg, transparent, #9569FF 80%);
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
    color: #efeff1;
    background-color: #9147FF;
    border-color: #9147FF;
    overflow: hidden;
    position: relative;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active:after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 0;
  width: 30%;
  height: 40px;
  background: linear-gradient(90deg, transparent, #9147FF 80%);
}

.btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(104,38,203,.5);
}

.btn-outline-danger {
    color: #efeff1;
    border-color: #dc3545;
    background-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #efeff1;
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}

.input-group-text {
    color: #10100e;
    background-color: #dedee1;
    border: #dedee1;
    margin-left: 8px;
    margin-top: 8px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e6e6ea;
}

.form-control {
    background-color: #e6e6ea;
    color: #10100e;
    border-color: #e6e6ea;
    margin-right: 8px;
}

.list {
    background-color: #e6e6ea;
    color: #10100e;
    border-color: #e6e6ea;
    margin-right: 8px;
    margin-top: 8px;
}

.modal-header {
    border-bottom: #f7f7f8;
}

.modal-content {
    background-color: #f7f7f8;
}

.modal-footer {
    border-top: #f7f7f8;
}

.text-center {
    padding-bottom: 10px;
}

.row {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

hr{
    margin-top: 5px;
}

h1.title {
    align-items: center;
    justify-content: center;

    font-size: 50px;
    padding-bottom: 20px;
}