<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <script>const DebugCreateTable = () => {window.location.href = "/table_debug/create/" + document.getElementById("ModalDebugCreateTableInputName").value + "?table_number=" + document.getElementById("ModalDebugCreateTableNumber").value;}</script>
    <script>const DebugSortTable = () => {window.location.href = "/table_debug/sort/" + document.getElementById("ModalDebugSortTableInputName").value + "?table_number=" + document.getElementById("ModalDebugSortTableNumber").value;}</script>
    <script>const DebugDeleteTable = () => {window.location.href = "/table_debug/delete/" + document.getElementById("ModalDebugDeleteTableInputName").value + "?table_number=" + document.getElementById("ModalDebugDeleteTableNumber").value;}</script>
    <title>Сортировки от Вовки</title>
</head>
<body>

<div class="main_container">
     <!-- Блок Лейбла -->
    <nav class="flex justify-center text-3xl my-3">
        <a href="http://127.0.0.1:8000/table_selector"><h1 class="title">Сортировки от Вовки - Дебаг</h1></a>
    </nav>

    <!-- Блок Дебаг Меню -->
    <div class="container">
        <h3 class="main_sub_label">Дебаг Меню</h3>
        <hr>

        <!-- Блок Пунктов Меню -->
        <div class="d-flex bd-highlight">
            <!-- Блок дебаг Создания таблиц -->
            <div class="p-3 flex-fill bd-highlight">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalDebugCreate">Создать таблицу</button>

                <div class="modal fade" id="ModalDebugCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Создать случайно заполненые таблицы</h5>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="ModalDebugCreateTableNumber" class="form-label">Колличество таблиц</label>
                          <input type="text" class="form-control" id="ModalDebugCreateTableNumber" placeholder="Количество">
                        </div>
                        <div class="mb-3">
                          <label for="ModalDebugCreateTableInputName" class="form-label">Название таблицы</label>
                          <input type="text" class="form-control" id="ModalDebugCreateTableInputName" placeholder="Название для всех таблиц">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="DebugCreateTable();" data-bs-dismiss="modal">Создать</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Блок дебаг Сортировки таблиц -->
            <div class="p-3 flex-fill bd-highlight">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalDebugSort">Сортировать таблицу</button>

                <div class="modal fade" id="ModalDebugSort" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Сортировать таблицы</h5>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="ModalDebugSortTableNumber" class="form-label">Колличество таблиц</label>
                          <input type="text" class="form-control" id="ModalDebugSortTableNumber" placeholder="Количество">
                        </div>
                        <div class="mb-3">
                          <label for="ModalDebugSortTableInputName" class="form-label">Название сортируемых таблиц</label>
                          <input type="text" class="form-control" id="ModalDebugSortTableInputName" placeholder="Название">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="DebugSortTable();" data-bs-dismiss="modal">Сортировать</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Блок дебаг Удаления таблиц -->
            <div class="p-3 flex-fill bd-highlight">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalDebugDelete">Удалить таблицу</button>

                <div class="modal fade" id="ModalDebugDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Удаление таблиц</h5>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="ModalDebugDeleteTableNumber" class="form-label">Колличество таблиц</label>
                          <input type="text" class="form-control" id="ModalDebugDeleteTableNumber" placeholder="Количество">
                        </div>
                        <div class="mb-3">
                          <label for="ModalDebugDeleteTableInputName" class="form-label">Название удаляемых таблиц</label>
                          <input type="text" class="form-control" id="ModalDebugDeleteTableInputName" placeholder="Название">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="DebugDeleteTable();" data-bs-dismiss="modal">Удалить</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Блок Таблиц -->
    <div class="container">
            <h3 class="main_sub_label">Таблицы</h3>
            <hr>

            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for table in tables %}
            <div class="col">
                <button id="button-{{table.table_id}}" class="btn btn-outline-success" onclick="EditTable({{ table.table_id }});">
                <div>{{ table.table_name }}</div>
                </button>
            </div>
            {% endfor %}
            </div>
        </div>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>