<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='icon/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% if visual_mod == "DarkMod" %}
        <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ url_for('static', path='css/style_light.css') }}" rel="stylesheet">
    {% endif %}

    <script>const EditTable = (table_id) => {window.location.href = "/table_editor/" + table_id;}</script>
    <script>const CreateTable = () => {window.location.href = "/table_creator/" + document.getElementById("ModalCreateTableInputName").value;}</script>
    <script>const DeleteTable = () => {window.location.href = "/table_remover_by_name/" + document.getElementById("ModalCreateTableDeleteName").value;}</script>
    <script>const FilterTable = () => {window.location.href = "/table_filter/" + document.getElementById("FilterTableName").value;}</script>
    <script>const IgnoreFilterTable = () => {window.location.href = "/table_ignore_filter/" + document.getElementById("IgnoreFilterTableName").value;}</script>
    <script>const SetLightMode = () => {document.cookie = "visual_mod=LightMod"; location.reload();}</script>
    <script>const SetDarkMode = () => {document.cookie = "visual_mod=DarkMod"; location.reload();}</script>
    <title>Сортировки от Вовки</title>
</head>
<body>
    <div class="main_container">
         <!-- Блок Лейбла -->
        <nav class="flex justify-center text-3xl my-3">
            <a href="http://127.0.0.1:8000/table_selector"><h1 class="title">Сортировки от Вовки</h1></a>
        </nav>

        <button class="btn btn-outline-success" onclick="SetLightMode();">
                <div>Светлая тема</div>
        </button>

        <button class="btn btn-outline-success" onclick="SetDarkMode();">
                <div>Тёмная тема</div>
        </button>

        <!-- Блок Меню -->
        <div class="menu_container">
            <h3 class="main_sub_label">Меню</h3>
            <hr>

            <!-- Блок Пунктов Меню -->
            <div class="d-flex bd-highlight">
                <!-- Блок Создания таблиц -->
                <div class="p-2 flex-fill bd-highlight">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCreator">Создать таблицу</button>

                    <div class="modal fade" id="ModalCreator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalCreatorLabel">Создание таблицы</h5>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <label for="ModalCreateTableInputName" class="form-label">Название таблицы</label>
                              <input type="text" class="form-control" id="ModalCreateTableInputName" placeholder="Название">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="CreateTable();" data-bs-dismiss="modal">Создать</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <!-- Блок Удаления таблиц -->
                <div class="p-2 flex-fill bd-highlight">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalRemover">Удалить таблицу</button>

                    <div class="modal fade" id="ModalRemover" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalRemoverLabel">Удаление таблиц</h5>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <label for="ModalCreateTableInputName" class="form-label">Название таблицы</label>
                              <input type="text" class="form-control" id="ModalCreateTableDeleteName" placeholder="Название">
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" onclick="DeleteTable();" data-bs-dismiss="modal">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <!-- Блок Игнор-Фильтра для таблиц -->
                <div class="p-2 flex-fill bd-highlight">
                  <div class="d-flex">
                    <input class="form-control me-2 border border-warning" type="search" id="IgnoreFilterTableName" value="{{ ignore_filter }}" aria-label="Игнорировать">
                    <button class="btn btn-outline-warning" type="button" onclick="IgnoreFilterTable();">Игнорировать</button>
                  </div>
                </div>

                <!-- Блок Фильтра для таблиц -->
                <div class="p-2 flex-fill bd-highlight">
                  <div class="d-flex">
                    <input class="form-control me-2 border border-success" type="search" id="FilterTableName" value="{{ filter }}" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="button" onclick="FilterTable();">Поиск</button>
                  </div>
                </div>
            </div>
        </div>

        <!-- Блок Таблиц -->
        <div class="table_container">
            <h3 class="main_sub_label">Таблицы</h3>
            <hr>

            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for table in tables %}
            <div class="col">
                <button id="button-{{table.table_id}}" class="btn btn-outline-success" onclick="EditTable({{ table.table_id }});">
                <div>{{ table.table_name }}</div>
                </button>
            </div>
            {% endfor %}
            </div>
        </div>
        <figure class="text-center">
            <figcaption class="blockquote-footer">
                ©2023 Hlebushek Inc. Все права защищены.
            </figcaption>
        </figure>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>